html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #121212;
    color: #ffffff;

    font-family: 'Pretendard-Regular', Arial, sans-serif;

}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.game-container {
    flex: 0 0 70%; /* Left 70% */
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    flex: 0 0 30%; /* Right 30% */
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.scrollable-container {
    flex: 0 0 80%;
    border: 1px solid #ccc; /* 테두리 설정 */
    overflow-y: auto; /* 수직 스크롤 가능 */
    overflow-x: hidden; /* 수평 스크롤 숨기기 */
}

#score {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

canvas {
    background: #000;
    border: 2px solid #ffffff;
    display: block;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.scrollable-container {
    flex: 0 0 80%;
    border: 1px solid #ccc; /* 테두리 설정 */
    overflow-y: auto; /* 수직 스크롤 가능 */
    overflow-x: hidden; /* 수평 스크롤 숨기기 */
}