<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <link rel="stylesheet" href="snake.css">
</head>
<body>
<div class="container">
    <div class="game-container">
        <div id="box">
            <!-- Leaderboard Section -->
            <div class="leaderboard">
                <table>
                    <thead>
                    <tr>
                        <th class="number">Rank</th>
                        <th class="name">Username</th>
                        <th class="points">Score</th>
                    </tr>
                    </thead>
                    <tbody id="leaderboardBody">
                        <tr>
                            <td class="number">1</td>
                            <td class="name">
                                <img src="crown_icon.png" alt="왕관" class="crown" style="width: 15px; height: 15px; margin-right: 2px; vertical-align: middle;">

                                <span></span>
                            </td>
                            <td class="points"></td>
                        </tr>
                        <tr>
                            <td class="number">2</td>
                            <td class="name">
                                <span></span>
                            </td>
                            <td class="points"></td>
                        </tr>
                        <tr>
                            <td class="number">3</td>
                            <td class="name">
                                <span></span>
                            </td>
                            <td class="points"></td>
                        </tr>
                        <tr>
                            <td class="number">4</td>
                            <td class="name">
                                <span></span>
                            </td>
                            <td class="points"></td>
                        </tr>
                        <tr>
                            <td class="number">5</td>
                            <td class="name">
                                <span></span>
                            </td>
                            <td class="points"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/
             var memberId = /*[[${memberId}]]*/ {};
            /*]]>*/
        </script>
        <canvas id="gameCanvas"></canvas>
    </div>
    <div class="chat-container" id="chatContainer">
        <div id="score" class="scrollable-container">Score: 0</div>
        <div id="messages" class="chat-box"></div>
        <textarea id="message" class="chat-input" placeholder="Type a message..."></textarea>
        <button onclick="sendMessage()">Send</button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/three@0.141.0/build/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://unpkg.com/gl-matrix@2.4.0/dist/gl-matrix.js"></script>
<script src="snake.js"></script>
<script src="chat.js"></script>
</body>
</html>
